<main>
    <div class="row">
        <div class="col-sm-6">
            <h3>Peupler base de données</h3>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br>
    <p>Cette opération peut prendre plusieurs minutes.</p>
    <mat-progress-bar *ngIf="show" mode="indeterminate"></mat-progress-bar>
    <button *ngIf="!show" mat-stroked-button color="primary" (click)="peuplerBD()">PeuplerBD</button>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</main>