<nav>
    <ul>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">
                <mat-icon class="vertical-center">fact_check</mat-icon> &nbsp;
                <span class="vertical-center">Assignments</span>
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/peupler">
                <mat-icon class="vertical-center">backup</mat-icon> &nbsp;
                <span class="vertical-center">Peupler BD</span>
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/login">
                <mat-icon class="vertical-center">account_circle</mat-icon> &nbsp;
                <span class="vertical-center">Se connecter</span>
            </a>
        </li>
    </ul>
</nav>